.budget-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.budget-chart {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.budget-chart .expense {
    width: 25px;
}

.budget-container .no-expense-found{
    height: 100%;
}   

.chart-instructions .chart-color{
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

.chart-instructions .instructions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chart-instructions .expense-area {
    font-family: verdana;
    font-size: 12px;
    text-transform: capitalize;
}