.history-page-container {
    height: calc(100% - 65px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-distribution-table {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 15px;
    max-height: calc(100% - 100px);
    height: calc(100% - 100px);
    overflow: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin: 5px;
}

.history-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(224, 224, 224);
    min-height: 50px;
}

.history-row.last-column{
    border: none
}

.history-distribution-table .expense-area {
    font-weight: bold;
}

.history-distribution-table div.row {
    line-height: 30px;   
    padding: 10px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.history-distribution-table div.row.percentage{
    justify-content: flex-end;
}

.expense-area.row {
    flex: 1;
}

.total-expense.row {
    width: 30%;
}

.row {
    width: 15%;
}

.total-expense-amount {
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    color: rgb(255, 64, 129);
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: bold;
}

.no-expense-found {
    color: rgb(255, 64, 129);
    font-family: roboto;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}

/*.history-distribution-table div:hover{
    cursor: pointer;
    background-color: rgba(153, 153, 153, 0.2);         
}*/